.pokemon-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
  
.pokemon-card h3 {
    margin-top: 0;
    color: #2c3e50;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
  
.pokemon-card h4 {
    margin-bottom: 0.5rem;
    color: #34495e;
}
  
.pokemon-card p {
    margin: 0.25rem 0;
}
  
.pokemon-card button {
    margin-top: 1rem;
    background-color: #dc3545;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.pokemon-card button:hover {
    background-color: #c82333;
} 